.ATAnalyzerResults
	.row
		display: flex
		flex-direction: row
		border-top: solid 1px black
		cursor: pointer
		margin: 0

		&.selected
			background: rgb(255, 40, 0)

	.utility-cell
		// flex: 0
		width: 80px
		border-right: solid 1px black
		padding-right: 0.2em

	.bar-cell
		flex: 1

		.bar
			background: darkgrey
			height: 100%

