.ATAnalyzerResults
	.row
		display: flex
		flex-direction: row
		border-top: solid 1px black

		&.selected
			background: grey

	.utility-cell
		flex: 0
		border-right: solid 1px black
		padding-right: 0.2em

	.bar-cell
		flex: 1

		.bar
			background: darkgrey
			height: 100%

